/* PopupMenu */

.popup-menu-ornament {
    text-align: right;
    width: 1em;
}

.popup-menu-boxpointer,
.candidate-popup-boxpointer {
    -arrow-border-radius: 2px;
    -arrow-background-color: rgb(23, 23, 23);
    -arrow-border-color: rgb(0, 0, 0);
    -arrow-border-width: 1px;
    -arrow-base: 20px;
    -arrow-rise: 10px;
}

.popup-menu {
    min-width: 200px;
}

.unicode-arrow {
    font-size: 120%;
}

.popup-submenu-menu-item:open {
    background-color: rgb(27, 27, 27);
}

.popup-sub-menu {
    background-color: rgb(27, 27, 27);
/*    background-gradient-start: rgba(80,80,80,0.3);
    background-gradient-end: rgba(80,80,80,0.4);
    background-gradient-direction: vertical;
    box-shadow: inset 0px 2px 4px rgba(0,0,0,0.9);*/
}

.popup-sub-menu:scrolled .popup-menu-item:ltr {
    padding-right: 0em;
}

.popup-sub-menu:scrolled .popup-menu-item:rtl {
    padding-left: 0em;
}

.popup-sub-menu StScrollBar {
    padding: 4px;
}

.popup-sub-menu StScrollBar StBin#trough {
    border-width: 0px;
}

.popup-sub-menu StScrollBar StBin#vhandle {
    background-color: #4c4c4c;
    border-width: 0px;
}

/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
.popup-menu-content {
    padding: 1em 0em;
}

.popup-menu-item {
    spacing: 12px;
}

.popup-menu-item:ltr {
    padding: .4em 1.75em .4em 0em;
}

.popup-menu-item:rtl {
    padding: .4em 0em .4em 1.75em;
}

.popup-menu-item:active {
    background-color: rgb(33, 33, 33);
}

.popup-menu-item:insensitive {
    color: #9f9f9f;
}

.popup-image-menu-item {
}


/* TODO how to really make it 1px height */
.popup-separator-menu-item {
/*    -gradient-height: 1px;
    -gradient-start: rgb(255,255,255);
    -gradient-end: rgb(255,255,255);
    -margin-horizontal: 10px;*/

    /*background: rgb(33, 33, 33);*/
}

.popup-alternating-menu-item:alternate {
    font-weight: bold;
}

.popup-status-menu-item {
    font-weight: normal;
    color: #999;
}

.popup-inactive-menu-item, .popup-inactive-menu-item:insensitive {
    color: white;
}

.popup-menu-icon {
    icon-size: 1.09em;
}