/* Network */

.nm-dialog {
    max-height: 500px;
    min-height: 450px;
    min-width: 470px;
}

.nm-dialog-content {
    spacing: 20px;
}

.nm-dialog-header-hbox {
    spacing: 10px;
}

.nm-dialog-header-icon {
    icon-size: 32px;
}

.nm-dialog-scroll-view {
    border: 1px solid rgb(33, 33, 33);
    border-radius: 6px;
}

.nm-dialog-header {
    font-weight: bold;
}

.nm-dialog-item {
    font-size: 12pt;
    border-bottom: 1px solid #666;
    padding: 12px;
}

.nm-dialog-item:checked {
    background-color: #333;
}

.nm-dialog-item-box {
    spacing: 20px;
}

.nm-dialog-icons {
    spacing: .5em;
}

.nm-dialog-icon {
    icon-size: 16px;
}