
/* Overview */

#overview {
    spacing: 24px;
}

.overview-controls {
    padding-bottom: 32px;
}

.workspace-thumbnails {
    spacing: 11px;
    visible-width: 32px; /* Amount visible before hovering */
    border: 0.5px solid @darken;
    border-right: 0px;
    border-radius: 1px 0px 0px 1px;
    background-color: @dark;
    padding: 11px 7px 11px 11px;
}

.workspace-thumbnails:rtl {
    border-right: 0.5px;
    border-left: 0px;
    border-radius: 0px 1px 1px 0px;
    padding: 11px 11px 11px 7px;
}

.workspace-thumbnail-indicator {
    border: 0.5px solid @high;
    border-radius: 1px;
    padding: 2px;
}

.window-caption {
    spacing: 25px;
    background: fadeout(@dark, 80%);
    border-radius: 2px;
    padding: 4px 12px;
    -shell-caption-spacing: 12px;
    font-weight: 100;
    // border: 0.5px solid rgba(0, 0, 0, 0);
}

.window-caption:hover {
    background: fadeout(@dark, 40%);
}

.window-close, .notification-close {
    @size: 8px;
    @bg: @warn;
    background-size: 4px;
    background-color: @bg;
    border: 1px solid @bg;
    height: @size;
    width: @size;
    border-radius: @size;

    &:hover {
        background-image: url("assets/close-win.svg");
        @bg: @warn;
        border: 1px solid @bg;
        background-color: @bg;
    }
}

.window-close {
    -shell-close-overlap: 12px;
}

.window-clone-border {
    border: 1px solid @dark;
    border-radius: 1px;
    padding: 1px;
}

// TODO 
.notification-close {
    /* we start out in the top right of the
     * notification, inset.
     *
     * center is 32px/2 = 16px
     *
     * adjust left 2px
     * adjust down 8px */

    -shell-close-overlap-x: -3px;
    -shell-close-overlap-y: 3px;
}

.notification-close:rtl {
    /* as above, but starting out in the top left of the
     * notification. */

    -shell-close-overlap-x: -14px;
}

.window-close:rtl {
    -st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

.window-picker {
    -horizontal-spacing: 32px;
    -vertical-spacing: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 48px;
}

.window-picker.external-monitor {
    padding: 32px;
}

.messages-indicator {
    color: @text;
    height: 32px;
}

.messages-indicator-contents {
    spacing: 12px;
    padding-bottom: 12px;
    font-weight: 100;

    &:hover {
        color: white;
    }
}

.messages-indicator-highlight {
    background: @high;
    height: 0.5px;
}


/* Dash */

#dash {
    color: red;
    font-size: 9pt;
    font-weight: 100;
    padding: 4px 0px;
    background-color: @dark;
    border: 0.5px solid @darken;
    border-left: 0px;
    border-radius: 0px 2px 2px 0px;
}

#dash:rtl {
    border-left: 1px;
    border-right: 0px;
    border-radius: 1px 0px 0px 1px;
}

.placeholder {
    height: 24px;
    border: 0.5px solid @light;
}

.empty-dash-drop-target {
    width: 24px;
    height: 24px;
}

.dash-label {
    border-radius: 1px;
    padding: 4px 12px;
    background-color: fadeout(@dark, 40%);
    text-align: center;
    -x-offset: 8px;
    font-weight: 100;
}

.dash-item-container icon {
    border: 1px solid yellow;

}

.dash-item-container > StButton {
    padding: 4px 8px;
}

#dash .app-well-app > .overview-icon > * > * > *,
#dash .show-apps > .overview-icon > * > * > *{
        // border: 1px solid red;
}